# Lab 2: Heart Disease Classification

## Problem Statement

Given patient medical attributes (age, sex, chest pain type, resting blood pressure, cholesterol, etc.), predict whether the patient has heart disease or not.

- **Problem Type:** Binary Classification
- **Target Variable:** `target` (1 = heart disease, 0 = no heart disease)
- **Dataset Source:** [UCI Machine Learning Repository - Heart Disease](https://archive.ics.uci.edu/ml/datasets/heart+Disease)

## Part 1: Loading and Inspecting the Dataset

In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('heart.csv')

# Display the shape of the dataset
print(f"Dataset Shape: {df.shape}")
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")

Dataset Shape: (297, 14)
Number of rows: 297
Number of columns: 14

In [2]:
# Preview the first few rows
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,1
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

In [3]:
# Check column names and data types
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       297 non-null    float64
 1   sex       297 non-null    float64
 2   cp        297 non-null    float64
 3   trestbps  297 non-null    float64
 4   chol      297 non-null    float64
 5   fbs       297 non-null    float64
 6   restecg   297 non-null    float64
 7   thalach   297 non-null    float64
 8   exang     297 non-null    float64
 9   oldpeak   297 non-null    float64
 10  slope     297 non-null    float64
 11  ca        297 non-null    float64
 12  thal      297 non-null    float64
 13  target    297 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 32.6 KB

In [4]:
# Display column names
print("Column Names:")
print(df.columns.tolist())

Column Names:
['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target']

In [5]:
# Check target variable distribution
print("Target Variable Distribution:")
print(df['target'].value_counts())
print(f"\n0 = No Heart Disease: {(df['target'] == 0).sum()} patients")
print(f"1 = Heart Disease:    {(df['target'] == 1).sum()} patients")

Target Variable Distribution:
target
0    160
1    137
Name: count, dtype: int64

0 = No Heart Disease: 160 patients
1 = Heart Disease:    137 patients